@page
@model escola.Pages.SobreNosModel
@{
}
<section class="py-5 text-center container">
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">Sobre Nós</h1>
            <p class="lead text-body-secondary">O Colégio Alfa CEM Bilingue, localizado no Rio de Janeiro, oferece uma educação abrangente que vai da Educação Infantil ao Ensino Médio. A escola se destaca por seu currículo bilíngue, que integra o ensino de inglês desde cedo, preparando os alunos para exames de proficiência de Cambridge. Além da excelência acadêmica, a Alfa CEM valoriza o desenvolvimento da autonomia, criatividade e responsabilidade social de seus alunos.</p>
            <p>
                <a href="Index" class="btn btn-primary my-2">Pagina Inicial</a>
            </p>
        </div>
    </div>
</section>