@page
@model escola.Pages.SobreNosModel
@{
}
<hr class="featurette-divider">

<div class="row featurette">
    <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1">SOBRE O ALFA CEM BÍLINGUE</h2>
        <p class="lead">
            O Colégio Alfa CEM, idealizado através do sonho de uma professora de História, nasceu com uma diferenciada, e hoje reverenciada, filosofia educacional que impulsiona a percepção do aluno, fazendo-o refletir, questionar e principalmente transformar.
            Hoje, ao educarmos nossa segunda geração de alunos, filhos de nossos bem sucedidos ex- alunos, alegramo-nos pela certeza de que, através de nossa metodologia, somos parte transformadora de uma história de sucesso.
        </p>
    </div>
    <div class="col-md-5">
        <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" src="/images/imagem1.webp" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-bg)" /></img>
    </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
    <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading fw-normal lh-1">FILOSOFIA PEDAGÓGICA</h2>
        <p class="lead">O Colégio Alfa CEM Bilíngue inaugurou sua matriz em 1994 e acumula desde então quase três décadas de experiência em educação de crianças e jovens em todos os segmentos de escolarização básica: Educação Infantil, Ensino Fundamental 1 e 2, Ensino Médio. Hoje, com seis unidades (Jacarepaguá, Barra da Tijuca (Clube da Aeronáutica), Arena Parque Olímpico, Barra da tijuca – Riviera, Recreio dos Bandeirantes e inaugura em 2023 a sua Unidade Tijuca), cerca de 4.000 alunos e mais de 500 colaboradores entre professores e funcionários. </p>
    </div>
    <div class="col-md-5 order-md-1">
        <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" src="/images/imagem2.webp" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-bg)" /></img>
    </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
    <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1">CORPO DOCENTE </h2>
        <p class="lead">O Colégio Alfa CEM valoriza e promove a formação continuada das equipes de professores e para todos os colaboradores envolvidos nas unidades. Através de muitos encontros ao longo do ano letivo, os profissionais participam de cursos internos e externos nas melhores universidades e instituições de formação docente.</p>
    </div>
    <div class="col-md-5">
        <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" src="/images/imagem3.webp" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-bg)" /></img>
    </div>
</div>

<hr class="featurette-divider">